.burger-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 50px;
  height: 100vh;
  margin: 0 2.5rem;
  background-color: #80b8fe;
}

.burger-item > button {
  margin-top: 2rem;
}
.burger {
  right: 15px;
}
.burger-green-btn {
  margin-top: 2rem;
  background-color: #44c767;
  border-radius: 0.5rem;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  padding: 10px 10px;
  text-shadow: 0px 1px 0px #2f6627;
}
.burger-item {
  list-style-type: none;
}
.burger-title {
  text-decoration: underline;
}

.burger-item > a {
  color: white;
}

.burger-referal {
  text-decoration: underline;
  color: #fff;
}
@media screen and (max-width: 980px) {
  .burger-title {
    display: none;
  }
}
@media (min-width: 1117px) {
}

@media screen and (max-width: 1112px) {
  .burger-item .burger-item-has-children > a {
    margin-top: 2rem;
    font-size: medium;
    text-decoration: none;
    color: #fff;
  }

  .burger-nav {
    margin-right: 18rem;

    margin-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .burger-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    height: 100vh;
    margin: 0 2.5rem;
  }
}
