.blog-wrapper {
  padding: 5rem;
}
.blog-title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.blog-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.blog-card {
  background-color: #4148f5;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-image > img {
  width: 100%;
}
.blog-card .blog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.blog-btn > button {
  background-color: #44c767;
  border-radius: 0.5rem;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.read-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.read-more-btn > button {
  background-color: #44c767;
  border-radius: 0.5rem;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
