.fees-container {
  background-color: white;
}
.fees-info {
  margin: 4rem 0;
}

.fees-title {
  margin-bottom: 2rem;
}

.fees-text > p {
  width: 100%;
  font-size: 25px;
  margin: 5px;
  text-align: center;
}
.fees-section1 {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: #80b8fe;
  padding: 5.5rem;
  position: relative;
}
.fees-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.fees-img > img {
  width: 80%;
}

.fees-section2 {
  background-color: white;
  margin-top: 2rem;

  color: #80b8fe;
  padding: 5.5rem;
}
@media screen and (max-width: 900px) {
  .fees-img > img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .fees-text {
    margin: 0;
  }
  .fees-text > p {
    font-size: 25px;
  }
  .fees-text > p {
    text-align: center;
  }
}
