.fees-container {
  background-color: white;
}
.fees-info {
  margin: 0 10%;
  padding: 5rem 0;
  color: #80b8fe;
}
.fees-title {
  padding: 2rem 0;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fees-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 10rem;
}
.fees-text > p {
  font-size: 16px;
  margin: 5px;
}

.fees-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fees-img > img {
  width: 20rem;
  height: 20rem;
}

@media screen and (max-width: 600px) {
  .fees-text {
    margin: 0;
  }
  .fees-text > p {
    font-size: 25px;
  }
}
