.hero-container {
  /* top , right, bottom , left*/
  background-color: #80b8fe;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.hero-wrapper {
}

.hero-info {
  width: 100%;
}
.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 4rem;
}

.hero-image > img {
  width: 100%;
  border-radius: 10px;
}

.hero-info > p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem;
  font-size: 1.25rem;
}

.hero-btns {
  margin-top: 2rem;
  gap: 1rem;
}

.green-btn {
  background-color: #44c767;
  border-radius: 0.5rem;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #fff;

  font-size: 20px;
  padding: 14px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.green-btn:hover {
  background-color: #3ba563;
}

.orange-btn {
  background-color: #e27067;
  border-radius: 0.5rem;
  border: 1px solid #e27067;
  display: inline-block;
  cursor: pointer;
  color: #fff;

  font-size: 20px;
  padding: 14px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e27067;
}

.star-reviews {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-logos {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.partner-logos > img {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}
@media only screen and (max-width: 600px) {
  .hero-image > img {
    display: none;
  }
}
