.loans-container {
  background-color: white;
}
.loans-info {
  margin: 0 10%;
  padding: 5rem 0;
  color: #80b8fe;
}

.loans-section1 {
  display: flex;
  flex-direction: row;
}
.loans-title {
  padding: 2rem 0;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loans-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10rem;
}
.loans-text > p {
  font-size: 20px;
  margin: 5px;
}

.loans-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loans-img > img {
  width: 20rem;
  height: 20rem;
}
@media screen and (max-width: 600px) {
  .loans-text {
    margin: 0;
  }
  .loans-text > p {
    font-size: 25px;
  }
}
