.mission-container {
  background-color: #80b8fe;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-wrapper {
  padding: 5rem;
  color: #fff;
}

.mission-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.mission-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.claimtypes-list {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  list-style-type: disc;
}

.mission-content > p {
  font-size: 20px;
}

.mission-btn {
  margin-top: 2rem;
  background-color: #80b8fe;
  border-radius: 0.5rem;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  padding: 10px 20px;
  text-decoration: none;
}
.mission-btn:hover {
  background-color: white;
  color: #80b8fe;
}
.mission-image > img {
  width: 100%;
  border-radius: 25px;
}

@media screen and (max-width: 980px) {
  .mission-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mission-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
