.steps-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #80b8fe;
}
.steps-title > h1 {
  text-decoration: underline;
  margin-bottom: 2rem;
}

.steps-list {
  margin: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.step-box {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 20px;
}

.step-text {
  color: #80b8fe;
}

.step-claim-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-claim-btn > button {
  background-color: #44c767;
  border-radius: 0.5rem;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #fff;

  font-size: 15px;
  padding: 14px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.step-claim-btn > button:hover {
  background-color: #3ba563;
}

.step-icon {
  height: 1rem;
  width: 2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .steps-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .step-box {
    margin-top: 2rem;
  }

  .steps-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .steps-title > p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
