.tax-container {
  background-color: white;
}
.tax-info {
  margin: 0 10%;
  padding: 5rem 0;
  color: #80b8fe;
}
.tax-title {
  padding: 2rem 0;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tax-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10rem;
}
.tax-text > p {
  font-size: 20px;
  margin: 5px;
}

.tax-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tax-img > img {
  width: 20rem;
  height: 20rem;
}
