.water-container {
  background-color: #80b8fe;
}
.water-info {
  margin: 0 10%;
  padding: 5rem 0;
  color: white;
}
.water-title {
  padding: 2rem 0;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.water-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.water-text > p {
  font-size: 20px;
  margin: 5px;
}

.water-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.water-img > img {
  width: 20rem;
  height: 20rem;
}
