.water-container {
  background-color: white;
}
.water-info {
  margin: 0 10%;
  padding: 5rem 0;
  color: #80b8fe;
}
.water-section1 {
  display: flex;
  flex-direction: row;
}
.water-title {
  padding: 2rem 0;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.water-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10rem;
}
.water-text > p {
  font-size: 20px;
  margin: 5px;
}

.water-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.water-img > img {
  width: 20rem;
  height: 20rem;
}
@media screen and (max-width: 1150px) {
  .water-section1 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .water-text {
    margin: 0;
  }
  .water-text > p {
    font-size: 25px;
  }
}
